body {
  background-color: #333;
}
.box {
  width: 100px;
  height: 100px;
  background-color: green;
  position: relative;
  left: 50px;
  top: 50px;
  transition: all 3s;
}
.box:hover {
  background-color: red;
  transform: rotate(360deg);
  border-radius: 50%;
}
